/* Pop-up overlay */
.tech-stack-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pop-up content */
.tech-stack-popup-content {
  background: var(--primary-color);
  padding: 20px;
  border: 1px solid white;
  width: 90%; /* Responsive width */
  max-width: 1000px; /* Max width to control on larger screens */
  height: auto;
  max-height: 80vh; /* Adjust based on viewport height */
  overflow-y: auto; /* Enables scrolling */
  position: relative;
  margin-top: 70px;
  transform: translateY(-50%);
  animation: popIn 0.3s ease-out forwards;
}

/* Styling the scrollbar for tech-stack-popup-content */
.tech-stack-popup-content::-webkit-scrollbar {
  width: 8px; /* Thinner scrollbar */
  height: 8px; /* For horizontal scrollbars, if applicable */
}

.tech-stack-popup-content::-webkit-scrollbar-track {
  background: var(--primary-color); /* Light grey track */
}

.tech-stack-popup-content::-webkit-scrollbar-thumb {
  background: darkgray; /* Dark scrollbar thumb */
}

.tech-stack-popup-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly lighter scroll thumb on hover */
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-50px);
  }
}

/* Close button */
.tech-stack-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--secondary-color);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sec_sp {
  margin-bottom: calc(3rem + 2.128vw);
}

.table td,
.table th {
  color: var(--text-color);
}

.t_border {
  border-color: var(--text-color) !important;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

.section-title {
  font-size: 45px;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
  padding-bottom: 4px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.sec_sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-stack-section {
  min-height: 215px;
  margin: 0px 12px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  transition: all 0.3s ease;
}

.tech-stack-section:hover {
  transform: scale(1.1);
  border-width: 1px;
  border-radius: 7px;
}

.tech-stack-icon {
  flex: 1 1 60%;
  align-items: center;
  justify-content: space-between;
  max-width: 55px; /* Maximum icon width */
  height: 50px; /* Icon height */
  margin-bottom: 10px; /* Space between icons */
  margin-right: 10px; /* Space between icons horizontally */
}

.tech-stack-icons {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.tech-stack-icons.visible {
  flex-direction: column;
  scrollbar-width: 10;
}

.tech-stack-icon-container {
  display: flex;
  margin-bottom: 7px;
  gap: 10px;
}

.tech-stack-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tech-stack-icon-text {
  font-size: 16px;
  color: var(--text-color);
}

.tech-stack-title {
  width: 100%;
  margin-bottom: 20px;
}

.color_sec {
  color: var(--secondary-color);
}

.t_border {
  border-color: var(--text-color) !important;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 2px var(--secondary-color);
}
