.po_items_ho {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.po_item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns items to opposite sides */
  width: 100;
  margin: 0.5rem auto;
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  font-size: 1rem;
}

.po_item img {
  width: 50%; /* Adjust based on your preference */
  height: auto;
  transition: 0.3s ease;
}

.po_item img:hover {
  width: 55%; /* Adjust based on your preference */
}

.po_item .content {
  width: 45%; /* Adjust based on your preference */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--overlay-color);
  opacity: 1; /* Always visible */
  transition: background 0.3s ease;
  border-left: 1px solid black; /* Adds a border between the image and the text */
}

.po_item:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item .content a {
  text-decoration: none;
  background: var(--bg-color);
  border: solid 1px var(--text-color);
  padding: 4px 8px;
  text-align: center;
  font-size: 1rem;
}

.po_item .content a:hover {
  text-decoration: underline;
}

.project-btn-row {
  display: flex;
  gap: 2em;
}

.project-btn-row svg {
  margin-right: 5px;
  font-size: 20px;
}

.project-btn-row a {
  display: flex;
  align-items: center;
}
